{% import "macros/generate.html" as gen %}

{% extends "base.html" %}

{% block extra_head %}
{# We preload the first 6 images, as they are the only ones visible above the fold on a 16:9 display. #}
{{ gen::preload_images(image_array = ["0.jpg", "1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg"], type = "image/jpeg") }}
{% endblock extra_head %}

{% block header %}
<figure class="header-video">
  <video playsinline muted loop preload="auto" width="960" height="310" tabindex="-1">
    <source src="{{ get_url(path='videos/veloren.webm') }}" type="video/webm">
    <source src="{{ get_url(path='videos/veloren.mp4') }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</figure>
{% endblock header %}

{% block content %}
<section class="post">
  <article>
    <h1>Welcome to Veloren!</h1>
    <p>
      Veloren is a multiplayer voxel RPG written in Rust. It is inspired by games such
      as Cube World, Legend of Zelda: Breath of the Wild, Dwarf Fortress and
      Minecraft.
    </p>
    <p>
      Veloren is fully open-source, licensed under GPL 3. It uses original graphics,
      musical pieces and other assets created by its community. Being contributor-driven, its
      development community and user community is one and the same: developers,
      players, artists and musicians come together to develop the game.
    </p>
    {{ gen::gallery(image_array = ["0.jpg", "1.jpg", "2.jpg", "3.jpg", "4.jpg", "5.jpg", "6.jpg", "7.jpg", "8.jpg", "9.png", "10.png"]) }}
    <p>
      Development of Veloren started in mid-2018. There are around 20 active
      developers working on the game, with another 20 artists, writers, designers, and
      composers contributing as well. Over 150 people have contributed to the
      project. Veloren currently has builds for Windows, Linux, and MacOS.
    </p>
    <p>
      You can develop Veloren by checking out the links to Gitlab and our offical Discord server.
      Anyone who shows a willing to work with team and help push Veloren forward is welcome. Remember,
      you don't even need to know how to code.
    </p>
    <p style="text-align: center">What are you waiting for?</p>
  </article>
</section>
<section class="post">
  <article>
    <div class="posts">
      <h2>Latest updates</h2>
      {% set cats = get_taxonomy(kind="tags") %}
      {% set show_posts = 3 %}
      {% for cat in cats.items %}
        {% if cat.name == "devblog" %}
          {% for page in cat.pages %}
            {% if show_posts > 0 and page.date %}
              {% set_global show_posts = show_posts - 1 %}
              {{ gen::post_preview(page=page) }}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
      <section class="read-more-container">
        {# We could link to the auto-generated taxonomy at /tags/devblogs/, but /devblogs/ is a much nicer url. #}
        {# <a class="header-link" href="{{get_taxonomy_url(kind="tags", name="devblog")}}"> #}
        <a href="{{ get_url(path="@/devblogs.md") }}">Read older posts...</a>
      </section>
    </div>
  </article>
</section>
{% endblock content %}